
/target
/.idea
/parent.iml
/elastic/elastic.iml
/elastic/target/test-classes
/elastic/target/elastic-0.0.1-SNAPSHOT-tests.jar
/elastic/target/elastic-0.0.1-SNAPSHOT.jar
/elastic/target/classes
/elastic/target/maven-status
/elastic/target/maven-archiver/pom.properties
